{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'courses:index' %}">Ooniversity</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="{% url 'courses:index' %}">Главная</a></li>
          <li><a href="{% url 'contact' %}">Контакты</a></li>
          <li class="active"><a href="{% url 'students:list_view'%}">Студенты</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
        <h2>Список студентов</h2>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Фамилия Имя</th>
                <th>Адрес</th>
                <th>Skype</th>
                <th>Курсы</th>
            </tr>
            {% for student in students %}
                <tr>
                    <td rowspan="{{ student.courses.count }}"> {{ forloop.counter }}</td>
                    <td rowspan="{{ student.courses.count }}"> <a href="{% url 'students:detail' student_id=student.id %} "> {{ student.name }} {{ student.surname }} </a></td>
                    <td rowspan="{{ student.courses.count }}"> {{ student.address }}</td>
                    <td rowspan="{{ student.courses.count }}"> {{ student.skype }}</td>
                    {% for course in student.courses.all %}
                        {% if student.courses.count > 1 and forloop.counter > 1 %}<tr>{% endif %}
                        <td>
                        <a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a>
                        </td>
                        {% if student.courses.count > 1 %}</tr>{% endif %}
                        {% endfor %}
                {% if student.courses.count < 2 %} </tr>{% endif %}
            {% endfor %}
        </table>
    </div>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>