{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Add student{% endblock title %}

{% block nav_class_students %}"active"{% endblock %}

              {% block content %}
              <div class="row-fluid">
                  <div class="col-xs-8" "col-xs-offset-2" >
                      <h1>Добавить студента</h1> 
                      <form method = "post">
                          {% csrf_token %}
                          {{ form.as_p }}
                          <input type="submit" value="Создать">
                      </form> 
                   </div>
              </div>
              {% endblock content %}
         