{% extends 'base.html' %}

{% block title %}Добавление студента{% endblock title %}
{% block nav_class_students %}active{% endblock %}

{% block content %}

      <div class="jumbotron">
        <div class="container">
            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
           <h2> Создание нового студента</h2>
              <div class="row col-md-12  custyle">
                  <form method="post">
                     {% csrf_token %}
                     {{ form.as_p }}
                     <input type="submit" class="btn btn-success" value="Создать">
                  </form>
              </div>
            </div>
      </div>

{% endblock content %}