{% extends 'base.html' %}


{% load static %}


{% block title %}Добавить студента{% endblock title %}


{% block nav_students_active %} active{% endblock nav_students_active %}


{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-sm-12 blog-main">
			<h1 class="page-title">Добавить студента</h1>
			<br>
		      <form method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <input class="btn btn-success" type="Submit" value="Создать">
              </form>
			</div>
      </div><!-- /.row -->
    </div><!-- /.container -->
{% endblock content %}