{% extends 'base.html' %}


{% load staticfiles %}


{% block title %}{{ student_info.surname }} {{ student_info.name }}{% endblock title %}

{% block nav_students_active %} active{% endblock nav_students_active %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-sm-12 blog-main">
			<h1 class="page-title">{{ student_info.surname }} {{ student_info.name }}</h1>
			<br>
		</div><!-- /.page-main -->
			<div class="col-sm-6">
				<table class="table table-hover"> 
					<tbody>
						<tr>
							<td>Birth Date</td>
							<td>{{ student_info.date_of_birth }}</td>
						</tr>
						<tr>
							<td>Address</td> 
							<td>{{ student_info.address }}</td>
						</tr>
						<tr> 
							<td>E-mail</td> 
							<td>{{ student_info.email }}</td>
						</tr>
						<tr> 
							<td>Skype</td> 
							<td>{{ student_info.skype }}</td>
						</tr>
						<tr> 
							<td>Phone</td>
							<td>{{ student_info.phone }}</td>
						</tr>
						<tr> 
							<td>Courses</td>
							<td>{% for i in student_info.courses.all %}
							<a href="{% url 'courses:detail' i.id %}">
								{{ i }}</a><br/>{% endfor %}</td>
						</tr>
					</tbody>
				</table>
			</div>


{% include 'include/come_include.html' %}


      </div><!-- /.row -->
    </div><!-- /.container -->
{% endblock content %}