{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Edit student{% endblock title %}

{% block nav_class_students %}"active"{% endblock %}

              {% block content %}
              <div class="row-fluid">
                  <div class="col-xs-8" "col-xs-offset-2" >
                      {% if messages %}
                      <ul class="messages">
                          {% for message in messages %}
                          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                          {% endfor %}
                      </ul>
                      {% endif %}
                      <h1>Редактирование данных студента</h1> 
                      <form method = "post">
                          {% csrf_token %}
                          {{ form.as_p }}
                          <input type="submit" value="Изменить">
                      </form> 
                   </div>
              </div>
              {% endblock content %}
         