{% extends "base.html" %}


{% block title %}Редактирование студента{% endblock title %}


{% block nav_students %}active{% endblock %}


{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <h2>Редактирование данных студента</h2>
    <hr>
    <form class='student-create' method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-info" value="Изменить">
    </form>

{% endblock content %}