{% extends 'base.html' %}


{% load staticfiles %}


{% block title %}Students of ItBursa course{% endblock title %}

{% block nav_students_active %} active{% endblock nav_students_active %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-sm-12 blog-main">
		<br>
			<h1>Students of ItBursa course</h1>
			<p>Here is list of students of ItBursa 2017</p>
			<table class="table table-hover"> 
				<thead> 
					<tr> 
						<th>#</th>
						<th>фамилия имя</th>
						<th>адрес</th>
						<th>skype</th>
						<th>курсы</th>
					</tr> 
				</thead> 
				<tbody>
					{% for item in st_list %}
					<tr> 
						<td>{{ item.id }}</td>
						<td><a href="{% url 'students:detail' item.id %}">{{ item.surname }} {{ item.name }}</a></td>
						<td>{{ item.address }}</td>
						<td>{{ item.skype }}</td>
						<td>{% for i in item.courses.all %}<a href="{% url 'courses:detail' i.id %}">{{ i.name }}</a>
                            <br>{% endfor %}</td>
					</tr>
					{% endfor %}


				</tbody> 
			</table>
			{% include 'include/come_to_us.html' %}

        </div><!-- /.page-main -->
      </div><!-- /.row -->
    </div><!-- /.container -->
{% endblock content %}