<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lead-up Bursa</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<!--меню-->
<nav class="navbar navbar-expand-lg navbar-expand navbar-light bg-light">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="{% url 'index' %}">Home</a>
        <a class="nav-item nav-link" href="{% url 'contact' %}">Contacts</a>

        {% if course %}

            <form action="{% url 'students:list_view' %}">
                <input hidden name="course_id" value="{{ course.pk }}">
                <input type="submit" class="nav-item nav-link btn btn-outline-light active" value="Students">
            </form>

        {% else %}

            <a class="nav-item nav-link active" href="{% url 'students:list_view' %}">Students</a>

        {% endif %}
    </div>
</nav>
<div class="row">
    <div class="col-md-2 col-sm-2 col"></div>
    <div class="col-md-7 col-sm-9 col-12 box">
        <h2 class="h2">Students list</h2>

        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th>#</th>
                <th scope="col">Full name</th>
                <th scope="col">Address</th>
                <th scope="col">Skype</th>
                <th scope="col">Courses</th>
            </tr>
            </thead>
            <tbody>

            {% for student in students %}

                <tr class="row-link position-relative">
                    <td scope="row">{{ forloop.counter }}</td>
                    <td>
                        <a class="nav-link stretched-link m-0 p-0"
                           href="{% url 'students:detail' student.pk %}">{{ student.name }} {{ student.surname }}</a>
                    </td>
                    <td>{{ student.address }}</td>
                    <td>{{ student.skype }}</td>
                    <td>
                        {% for course in student.courses.all %}
                            {{ course.name }}<br>
                        {% endfor course %}
                    </td>
                </tr>

            {% empty %}

                <tr>
                    <td>no one course</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="{% static 'js/jquery_3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>