{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Remove student{% endblock title %}

{% block nav_class_students %}"active"{% endblock %}

              {% block content %}
              <div class="row-fluid">
                  <div class="col-xs-8" "col-xs-offset-2" >
                      <h1>Студент {{ student.name }} {{ student.surname }} будет удален</h1>
                      <form method = "post">
                          {% csrf_token %}
                          {{ form.as_p }}
                          <input type="submit" value="Удалить">
                      </form> 
                   </div>
              </div>
              {% endblock content %}
         