{% extends 'base.html' %}


{% load static %}


{% block title %}Удалить студента{% endblock title %}


{% block nav_students_active %} active{% endblock nav_students_active %}


{% block content %}


    <div class="container">
      <div class="row">
<h1>Student {{ remove_student.name }} {{ remove_student.surname }} will be deleted.</h1>
		  <form method="post">
            {% csrf_token %}
            <input class="btn btn-success" type="Submit" value="Удалить">
          </form>
      </div>
    </div>


{% endblock content %}