{% extends "base.html" %}


{% block title %}Students{% endblock title %}


{% block nav_students %}active{% endblock %}


{% block content %}


<h2>{{ student.name }} {{ student.surname }}</h2>
<table class="card table table-hover">
    <tr>
        <td class="card-td">Birth</td>
        <td>{{ student.date_of_birth }}</td>
    </tr>
    <tr>
        <td class="card-td">Address</td>
        <td>{{ student.address }}</td>
    </tr>
    <tr>
        <td class="card-td">Email</td>
        <td>{{ student.email }}</td>
    </tr>
    <tr>
        <td class="card-td">Skype</td>
        <td>{{ student.skype }}</td>
    </tr>
    <tr>
        <td class="card-td">Phone</td>
        <td>{{ student.phone }}</td>
    </tr>
    <tr>
        <td class="card-td">Courses</td>
        <td>
            {% for course in student.courses.values %}
            <a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a><br/>
            {% endfor %}
        </td>
    </tr>
</table>


{% endblock content %}
