{% extends "base.html"%}

{% load static %}

{% block title %}Students list {% endblock title %}

{% block nav_students_active %} active{% endblock nav_students_active %}

{% block content %}
    <div class="container">
    
{% if messages %}
                 <div class="alert alert-success" role="alert">
                   {% for message in messages %}
                   {{ message }}
                   {% endfor %}
		 </div>
{% endif %}
    
    <p><a class="btn btn-primary glyphicon"
                   href="{% url 'students:add' %}" role="button"> Добавить нового студента</a></p><br/>
	<h2>Список студентов</h2>
                <table class="table table-hover"> 
				<thead> 
					<tr> 
						<th>#</th>
						<th>фамилия имя</th>
						<th>адрес</th>
						<th>skype</th>
						<th>курсы</th>
					</tr> 
				</thead> 
				<tbody>
					{% for item in object_list %}
					<tr> 
						<td>{{ item.id }}</td>
						<td><a href="{% url 'students:detail' item.id %}">{{ item.surname }} {{ item.name }}</a></td>
						<td>{{ item.address }}</td>
						<td>{{ item.skype }}</td>
						<td>{% for i in item.courses.all %}<a href="{% url 'courses:detail' i.id %}">{{ i.name }}</a>
                            <br>{% endfor %}</td>
			                         <td><a class="btn btn-primary glyphicon"
                             href="{% url 'students:edit' item.id %}" role="button"> Изменить</a></td>
			                         <td><a class="btn btn-primary glyphicon"
+                            href="{% url 'students:remove' item.id %}" role="button"> Удалить</a></td>
					</tr>
					{% endfor %}


				</tbody> 
			</table>
{% if is_paginated %}
        <center>
            <ul class="pagination">
            
            {% if page_obj.has_previous %}
                <li><a href="?{% if request.GET.course_id %}course_id={{ request.GET.course_id }}&{% endif %}page={{ page_obj.previous_page_number }}"><< previous</a></li>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
                {% if i == page_obj.number %}
                    <li class="active"><span>{{ i }}</span></li>
                {% else %}
                    <li><a href="?{% if request.GET.course_id %}course_id={{ request.GET.course_id }}&{% endif %}page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li><a href="?{% if request.GET.course_id %}course_id={{ request.GET.course_id }}&{% endif %}page={{ page_obj.next_page_number }}">next >></a></li>
            {% endif %}

            </ul>
        </center>
    {% endif %}

			
			
		</div><!-- /.container -->
			
	{% endblock content %}  
	  
     
