{% extends "base.html"%}

{% load static %}

{% block title %}Students list {% endblock title %}

{% block nav_students_active %} active{% endblock nav_students_active %}

{% block content %}
    <div class="container">
    
{% if messages %}
                 <div class="alert alert-success" role="alert">
                   {% for message in messages %}
                   {{ message }}
                   {% endfor %}
		 </div>
{% endif %}
    
    <p><a class="btn btn-primary glyphicon"
                   href="{% url 'students:add' %}" role="button"> Добавить нового студента</a></p><br/>
	<h2>Список студентов</h2>
                <table class="table table-hover"> 
				<thead> 
					<tr> 
						<th>#</th>
						<th>фамилия имя</th>
						<th>адрес</th>
						<th>skype</th>
						<th>курсы</th>
					</tr> 
				</thead> 
				<tbody>
					{% for item in students %}
					<tr> 
						<td>{{ item.id }}</td>
						<td><a href="{% url 'students:detail' item.id %}">{{ item.surname }} {{ item.name }}</a></td>
						<td>{{ item.address }}</td>
						<td>{{ item.skype }}</td>
						<td>{% for i in item.courses.all %}<a href="{% url 'courses:detail' i.id %}">{{ i.name }}</a>
                            <br>{% endfor %}</td>
			                         <td><a class="btn btn-primary glyphicon"
                             href="{% url 'students:edit' item.id %}" role="button"> Изменить</a></td>
			                         <td><a class="btn btn-primary glyphicon"
+                            href="{% url 'students:remove' item.id %}" role="button"> Удалить</a></td>
					</tr>
					{% endfor %}


				</tbody> 
			</table>
		</div><!-- /.container -->
			
	{% endblock content %}  
	  
     
