{% extends "base.html" %}


{% block title %}Students detail{% endblock %}


{% block menu_class_students %}active{% endblock %}


{% block content %}
			<h1>{{ student.name }} <br> {{ student.surname }} </h1>
			<table class="tab2 table">
				<tbody>
					<tr>
						<td>Дата рождения</td>
						<td>{{ student.date_of_birth }}</td>
					</tr>
					<tr>
						<td>Адрес</td>
						<td>{{ student.address }}</td>
					</tr>
					<tr>
						<td>Почта</td>
						<td>{{ student.email }}</td>
					</tr>
					<tr>
						<td>Логин Skype</td>
						<td>{{ student.skype }}</td>
					</tr>
					<tr>
						<td>Телефон</td>
						<td>{{ student.phone }}</td>
					</tr>
					<tr>
						<td>Курсы</td>
						<td>
						{% for course in student.courses.all %}
							<a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a><br>
						{%endfor%}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
{% endblock content %}