{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Сведения о студентах{% endblock title %}

{% block nav_class_students %}"active"{% endblock %}

{% block content %}
      <div>
          <h1>Курс PyBursa</h1>
          {% if messages %}
              <div class="alert alert-success" role="alert">
                  {% for message in messages %}
                    {{ message }}
                  {% endfor %}
              </div>
          {% endif %}
          <div>
              <a class="btn btn-primary glyphicon glyphicon-plus" href="{% url 'students:add' %}" role="button"><strong>Добавить нового студента</strong></a>
          </div>
          <p>Список студентов</p>
      </div>    
           <div class="container-fluid">
              <div class="row-fluid">
                  <div class="panel panel-info">
                      <div class="panel-heading">
                          <h3 class="panel-title">PyBursa#07</h3>
                      </div>
                      <div class="list">
                          <table class="table table-striped"> 
                            <thead >
                                <td>No</td>
                                <td>Фамилия Имя</td>
                                <td>Адрес</td>
                                <td>Skype</td>
                                <td>Курсы</td>
                                <td></td>
                                <td></td>                                
                            </thead>                             
                              {% for student in object_list %}
                            <tbody >                                
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url 'students:detail' student.id %}">{{ student.surname }} {{ student.name }}</a></td>
                                <td>{{student.address}}</td>
                                <td>{{student.skype}}</td>
                                <td>{% for course in student.courses.all %}
                                    <a href="{% url 'courses:detail' course.id %}">{{course.name}}</a><br>
                                     {% endfor %}</td>
                                <td><a href="{% url 'students:edit' student.id %}">  <span class="glyphicon glyphicon-edit"></span>  Изменить</a></td>
                                <td><a href="{% url 'students:remove' student.id %}">  <span class="glyphicon glyphicon-remove">  Удалить</span></a></td> 
                            </tbody>
                              {% endfor %} 
                            </table>      
                       </div>   
                  </div>                 
              </div>
          </div>
{% endblock content %}
             
      
    

   