{% extends 'base.html' %}
{% load static %}


{% block title %}Student add{% endblock %}


{% block nav_baractive_students %}active{% endblock %}


{% block content %}
    <div class="starter-template text-left">
        <h1 class="bold reddish"><b>{{ title }}</b></h1>
        <div class="container text-left">
            <form method="post">
                <b>{{ form.as_p }}</b>    
            <input type="submit" value="Создать" />
            </form
        </div>
    </div>
{% endblock %}
