<div class="col-md-3">
	<div class="thumbnail">
		<img src="../static/images/person.png">
		<div class="caption">
		<center><h3>{{ title }}</h3></center>
			<table class='contact'>
				<tr>
					<td>Name:</td>
					<td class="right">Ivan Ivanov</td>
				</tr>
				<tr>
					<td>Skype:</td>
					<td class="right">LoginSkype</td>
				</tr>
				<tr>
					<td>Email:</td>
					<td class="right">email@email.com</td>
				</tr>
				<tr>
					<td>Phone:</td>
					<td class="right">+7(999)999-99-99</td>
				</tr>
			</table>
		</div>
	</div>
</div>