<nav class="navbar navbar-default">
       <div class="container-fluid">
       <!-- Brand and toggle get grouped for better mobile display -->
       <!-- Collect the nav links, forms, and other content for toggling -->
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="{{ active_main }}"><a href="{% url 'index' %}">Main</a></li>
            <li class="{{ active_contact }}"><a href="{% url 'contact' %}">Contacts</a></li>
            <li class="{{ active_students }}"><a href="{% url 'students:list_view' %}{{ get }}{{ id }}">Students</a></li>
            <li class="{{ active_equation }}"><a href="{% url 'results' %}">Equation</a></li>
          </ul>
       </div><!-- /.navbar-collapse -->
     </div><!-- /.container-fluid -->
   </nav>