<div class="donate-block">
	<form class="form-center" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
	<input type="hidden" name="cmd" value="_donations">
	<input type="hidden" name="business" value="yourPayPalEmailAddress@GoesHere.com">
	<input type="hidden" name="lc" value="US">
	<input type="hidden" name="item_name" value="Organization Name"><br>
	<select name="amount" id="amount">
	<option value="10.00">$10.00</option>
	<option value="25.00">$25.00</option>
	<option value="50.00">$50.00</option>
	<option value="75.00" selected="selected">$75.00</option>
	<option value="100.00">$100.00</option>
	<option value="500.00">$500.00</option>
	<option value="1000.00">$1000.00</option>
	<option value="">Other Amount</option>
	</select>
	<br><br>
	<input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest">
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>
</div>