{% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a  href="?{{ page_path }}page={{ page_obj.previous_page_number }}">&lt&lt previous</a></li>
        {% endif %}
        {% for p in paginator.page_range %}
            {% if p == page_obj.number %}
                <li class="active"><a href="#">{{ page_obj.number }}</a></li>
            {% else %}
                <li><a href="?{{ page_path }}page={{ p }}">{{ p }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a href="?{{ page_path }}page={{ page_obj.next_page_number }}">next >></a></li>
    {% endif %}
        </ul>
{% endif %}