p.text1 {color:DarkGreen; background:Cornsilk}
p.text2 {color:DarkOliveGreen; background:BlanchedAlmond}
p.text3 {color:Blue; background:Bisque}
p.text4 {color:MediumBlue; background:NavajoWhite}
p.text5 {color:DarkBlue; background:Wheat}
p.text6 {color:Navy; background:BurlyWood}
p.text7 {color:MidnightBlue; background:Tan}
p.text8 {color:DarkSlateGrey; background:RosyBrown}
p.text9 {color:SandyBrown}
p.text10 {color:SaddleBrown}