nav li.active a{
	color: blue !important;
}

body {
background-color: #ffffff;
}


li.active a{
	background-color: #e7e7e7;
}


p a{
	letter-spacing: 0.2em;
}

h2.names{
	color: #808000;
}

p span.text-lowercase{
	font-family: Impact;
}

p span.name{
	text-transform: capitalize;
}

p span.Skype{
	border-style: dashed;
	border-bottom-width: 2px;
	border-color: #e7e7e7;
	}