@font-face{
	font-family: "Libre Baskerville";
	src: url("../fonts/LibreBaskerville-Regular.otf");
}
nav{
	background-color: #1D2F3E;
	left: 0;
	position: fixed;
	right:0;
	top:0;
	z-index: 100;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus{
	background-color: transparent;
} 
.navbar.navbar-inverse{
	border-radius: 0;
	background-color: #1D2F3E;
}
.navbar.navbar-inverse .container-fluid{
	padding: 0;
	margin:0;
}
body{
	background-color: #FAF9F4;
	color: #1D2F3E;
	font-size: 16px;
}
ul{
	padding-left: 0;
}
nav li.menu-item{
	display: inline-block;
	color: white;
	font-size: 22px;
	padding: 20px 40px;
}
li.menu-item a,
li.menu-item a:hover,
li.menu-item a:active,
li.menu-item a:focus{
	color: inherit;
	text-decoration: none;
}
.menu-item.active{
	background-color: #152737;
}
.main-container{
	padding: 50px 50px 20px 50px;
}
h1, h4{ font-weight: bold; }
h1{
	font-size: 72px;
	line-height: 80px;
	margin: 80px 0 30px 0;
}
h4{
	font-size: 36px;
	color: #457094;
}
h5{
	color: #7F909A;
	font-size: 28px; 
	margin-bottom: 25px;
}
h4 + p {
	margin: 15px;
	font-family: "Libre Baskerville";
}
#mainInfo > img{
	width: 50px;
}
div.info{
	margin-bottom: 25px;
}
.info .btn{ 
	background-color: #F9F1B5;
	width: 60%;
	text-transform: uppercase;
	padding: 20px;
}
.info ul{
	margin: 30px 0;
}
.img-rounded{
	width: 190px;
	border-radius: 50%;
	margin-top: 30px;
}
.label{
	font-size: 14px;
	margin-right: 10px;
}
.info-block{
	padding: 15px 0;
	text-indent: 20px;
}
.table-wrapper, .profile-info{
	border-radius: 5px;
	background-color: white;
	padding: 20px;
}
.profile-pic{
	width: 180px;
}
.profile-info h6{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}
.profile-data{
	margin: 15px 0 50px 0;
	font-size: 15px;
}
.profile-data p{
	margin-bottom: 0;
}
.profile-data span{
	color:#7F909A;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 15px;
}
.profile-info .btn-link{
	padding: 0;
	color: #1D2F3E;
	font-weight: bold;
	text-transform: uppercase;
}
.width-md{
	width: 30%;
}
.profile-info .table{
	margin-top: 30px;
}
.profile-info{
	margin-top: 80px;
}
