body{ background-color: #766f6f; }

.container {
  	
  	padding-right: 10px;
  	padding-left: 10px;
  	/*margin-right: auto;
  	margin-left: auto;*/
	/*margin: 5%;
	padding: 10px;*/
	
}
.container-fluid,.jumbotron{
	background: #cccc00;
	padding-left: 10px
	padding-right:10px;
	margin-left: auto;
	margin-right: auto;
	width: 100%
	color: white; 
    text-shadow: 1px 1px 2px black, 0 0 1em red;
    font-size: 1.5em;
}
.navbar-brand{
	text-shadow: 1px 1px 2px black, 0 0 1em red; 
    color: white; 
    font-size: 2em;
}
#all_space{
	
	margin-left: 5%;
	margin-right: 5%;

	padding: 10px;	
}
h4{
	font-size: 25px;
	color: #807C7C
}
#contact_table{
	font-size: 15px;
	color: #5c5757
}
.panel, .panel-heading, .panel-default
{
  background-color: #cccc00;
  
}
