{% load staticfiles %}<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Detail</title>
	
	<meta name=viewport content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap-theme.css' %}">
	
</head>
<body>
	<div class="splash">
		<div class="container">
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container-fluid">

					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- <div class="navbar-brand"> -->
						<img class="navbar-brand" alt="brand" src="{% static '/images/it.png' %}">
						<!-- </div> -->

					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a class="li-a" href="{% url 'index' %}">Main</a></li>
							<li><a class="li-a" href="{% url 'contact' %}">Contacts</a></li>
							<li><a class="li-a" href="{% url 'students:list_view' %}">Students</a></li>
						</ul>
					</div>
				</div>
			</nav>

		<h2>{{ student.name }} {{ student.surname }}</h2>
		<table class="card table table-hover">
			<tr>
				<td class="card-td">Birth</td>
				<td>{{ student.date_of_birth|date:"b. d, Y"|capfirst }}</td>
			</tr>
			<tr>
				<td class="card-td">Address</td>
				<td>{{ student.address }}</td>
			</tr>
			<tr>
				<td class="card-td">Email</td>
				<td>{{ student.email }}</td>
			</tr>
			<tr>
				<td class="card-td">Skype</td>
				<td>{{ student.skype }}</td>
			</tr>
			<tr>
				<td class="card-td">Phone</td>
				<td>{{ student.phone }}</td>
			</tr>
			<tr>
				<td class="card-td">Courses</td>
				<td>
					{% for course in student.courses.values %}
					<a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a><br/>
					{% endfor %}
				</td>
			</tr>
		</table>
		<br/>

<!-- 		Perfomance
		<table class="card table table-hover table-bordered">
			<tr class="success">
				<th>Course</th>
				<th>Week</th>
				<th>Control Type</th>
				<th>Grade</th>
			</tr>
			<tr>
				<td rowspan="5">Py07 Python Intro</td>
				<td rowspan="3">Week 1</td>
				<td>Tests</td>
				<td>100%</td>
			</tr>
			<tr>
				<td>Problem Task 1</td>
				<td>100%</td>
			</tr>
			<tr>
				<td>Problem Task 2</td>
				<td>100%</td>
			</tr>
			<tr>
				<td rowspan="2">Week 2</td>
				<td>Tests</td>
				<td>100%</td>
			</tr>
			<tr>
				<td>Problem Task 1</td>
				<td>80%</td>
			</tr>
		</table> -->
	</div>


	<script src="{% static '/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static '/static/js/bootstrap.js' %}"></script>
</body>
</html>