{% load staticfiles %}<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Students</title>
	
	<meta name=viewport content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap-theme.css' %}">
	
</head>
<body>
	<div class="splash">
		<div class="container">
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container-fluid">

					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- <div class="navbar-brand"> -->
						<img class="navbar-brand" alt="brand" src="{% static '/images/it.png' %}">
						<!-- </div> -->

					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a class="li-a" href="{% url 'index' %}">Main</a></li>
							<li><a class="li-a" href="{% url 'contact' %}">Contacts</a></li>
							<li><a class="li-a" href="{% url 'students:list_view' %}">Students</a></li>
						</ul>
					</div>
				</div>
			</nav>
		<h2>Student List</h2>
		<table class="table table-hover table-bordered">
			<tr class="success">
				<th>#</th>
				<th>Surname Name</th>
				<th>Address</th>
				<th>Skype</th>
				<th>Courses</th>
			</tr>
			{% for student in students %}
			<tr>
				<td>{{ student.id }}</td>
				<td><a href="{% url 'students:detail' student.id %}">{{ student.surname }} {{ student.name }}</a></td>
				<td>{{ student.address }}</td>
				<td>{{ student.skype }}</td>
				<td>
				{% for course in student.courses.values %}
				<a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a><br/>
				{% endfor %}
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>


	<script src="{% static '/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static '/static/js/bootstrap.js' %}"></script>
</body>
</html>