{% extends "navbar.html" %}

{% block title %}{{course.name}}{% endblock %}
{% block main %}"nav-link" href="/">{% endblock %}
{% block students %}"nav-link" href="{% url 'student_list' %}?course_id={{course.pk}}">{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-1">{{course.name}}</h1>
    <p class="lead">{{course.description}}</p>
  </div>
</div>
<h2>План курса</h2>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Тема</th>
      <th scope="col">Описание</th>
    </tr>
  </thead>
  <tbody>
    {% for lesson in lessons %}
    <tr>
      <th scope="row">{{lesson.order}}</th>
      <td>{{lesson.subject}}</td>
      <td>{{lesson.description}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
