<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'courses:index' %}">Ooniversity</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="{% url 'courses:index' %}">Главная</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="{% url 'students:list_view'%}?course_id={{ course.id }}">Студенты</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="jumbotron">
        <h1>{{ course.name }}</h1>
        <p>{{ course.description }}</p>
      </div>
    </div>
    <div class="container">
        <h2>План курса</h2>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Тема</th>
                <th>Описание</th>
            </tr>
            {% for lesson in lessons %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ lesson.subject }}</td>
                    <td>{{ lesson.description }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>