{% load staticfiles %}<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Main</title>

	<meta name=viewport content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap-theme.css' %}">
	
</head>
<body>
	<div class="splash">
		<div class="container">
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<img class="navbar-brand" src="{% static '/images/it.png' %}">
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li class="active"><a href="{% url 'index' %}">Main</a></li>
							<li><a href="{% url 'contact' %}">Contacts</a></li>
							<li><a href="{% url 'students:list_view' %}">Students</a></li>
						</ul>
					</div>
				</div>
			</nav>
			<div id="wrapper">
				<h2>DjangoBursa</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, doloremque odit veniam inventore, repudiandae rerum ducimus? Aperiam quo odio voluptates molestiae deleniti sed quod laudantium dolor, commodi modi. Perspiciatis ducimus ullam veniam, consectetur laboriosam itaque eum pariatur nisi, voluptas recusandae harum eius neque, soluta repudiandae molestias nulla expedita eligendi sapiente?
				</p>
				<br/>
				<h3>Courses</h3>
				<table class="table-striped table table-hover">
					<thead>
						<tr class='success'>
							<th>Курс</th>
							<th>Описание</th>
						</tr>
					</thead>
					{% for course in courses %}
					<tr>
						<td><a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a></td>
						<td>{{ course.short_description }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
	<script src="{% static '/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static '/static/js/bootstrap.js' %}"></script>
</body>
</html>