{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Lessons DjangoBursa">
    <meta name="author" content="">
    

    <title>{% block title %} {% endblock title %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  
	        
  </head>

<body>
     {% block menu %}{% endblock menu %}
    
     
     {% block content %}{% endblock content %}
     
  
     
    <div class="container">
	      
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <footer>
	<p>&copy; 2017 Company, Inc.</p>
      </footer>
    </nav>

    </div><!-- /.container -->

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    
   
    
</body>
</html>
</html>
