<!DOCTYPE html>
<html>
    <head>
        <title>Bursa | Contacts</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../static/css/bootstrap.css"/>
        <link rel="stylesheet" href="../static/css/style.css"/>
        
        <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="../static/js/popper.js"></script>
        <script type="text/javascript" src="../static/js/bootstrap.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <section class="header">
                <div class="menu clearfix">
                    <a href="index.html">Main</a>
                    <a class="active" href="contact.html">Contacts</a>
                </div>
            </section>

            <section class="content">
                <h1>Организаторы курса</h1>

                <div class="person clearfix">
                    <div class="col-3 pull-left">
                        <img src="../static/images/alex_radchenko_min.jpg" alt=""/>
                    </div>
                    <div class="col-9 pull-right">
                    	<h4>Director</h4>
                        <p><span>Name</span>Алексей Радченко</p>
                        <p><span>Skype</span>None</p>
                        <p><span>Email</span>none@none.none</p>
                        <p><span>Phone</span>None</p>
                        <p><span>URL</span><a href="https://university.raccoongang.com" target="_blank">Raccoon University</a></p>
                    </div>
                </div>

                <div class="person clearfix">
                    <div class="col-3 pull-left">
                        <img src="../static/images/alex_radchenko_min.jpg" alt=""/>
                    </div>
                    <div class="col-9 pull-right">
                    	<h4>Manager</h4>
                        <p><span>Name</span>Алексей Радченко</p>
                        <p><span>Skype</span>None</p>
                        <p><span>Email</span>none@none.none</p>
                        <p><span>Phone</span>None</p>
                    </div>
                </div>

                <div class="person clearfix">
                    <div class="col-3 pull-left">
                        <img src="../static/images/alex_radchenko_min.jpg" alt=""/>
                    </div>
                    <div class="col-9 pull-right">
                    	<h4>Founder</h4>
                        <p><span>Name</span>Алексей Радченко</p>
                        <p><span>Skype</span>None</p>
                        <p><span>Email</span>none@none.none</p>
                        <p><span>Phone</span>None</p>
                    </div>
                </div>
            </section>

            <section class="footer">
                <div class="pull-right">
                    <span>by rymka1989</span>
                </div>
            </section>
        </div>
    </body>
</html>
