<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>COntacts_KsBursa</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <style type="../static/css/style.css">
    </style>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
  </head>

  <body>

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li><a class="nav-link" href="index.html">Main</a></li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Contacts</a>
      </li>
      
     
    </ul>
    
  </div>
</nav>
<div class="container">
<div class="jumbotron">
        <font size=5>
          <TABLE BORDER="1" BGCOLOR="green">
            <TR HEIGHT=30 >
              <TD align=center><b>Director</b></TD>
              <TD align=center><b>Manager</b></TD>
              <TD align=center><b>Founder</b></TD>
            </TR>
            <TR>
              <TD>
               <ul>
                  <li>Name:Kostrov Alexandr</li>
                  <li>Skype:alexandrkostrov1</li>
                  <li>e-mail:090890kan@gmail.com</li>
                  <li>phone:0936050937</li>
                  <li ><a href="https://vk.com/im?sel=166653892" id="li1">vk_profile</a></li>
               </ul>
             </TD>
              <TD><ul>
                  <li>Name:Karina Malinina</li>
                  <li>Skype:malinkayod</li>
                  <li>e-mail:malina1998@gmail.com</li>
                  <li>phone:0990090879</li>
               </ul>
              </TD>
              <TD><ul>
                  <li>Name:Kostrov Alexandr</li>
                  <li>Skype:alexandrkostrov1</li>
                  <li>e-mail:090890kan@gmail.com</li>
                  <li>phone:0936050937</li>
               </ul></TD> 
              </TR>
          </TABLE> 
         </font>
        </div>
      </div>
   <link href=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css " rel="stylesheet "/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js "></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../static/js/bootstrap.js "></script>
  

</body></html>
