<!DOCTYPE html>

<html lang="ru">
	<head>
		<title>Description</title>
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	</head>
	<body background="../static/images/fon.jpg">
		<header>
			<div class="text"><h1>Description</h1></div> 
		</header>
		<article>
			<h3>Добро пожаловать!</h3> 
			<p>Данный курс разработан в целях обучения основным принципам программирования на 
			<b>Python и Django</b></p>		
		</article>

		<header>
			<div class="text"><h1>Program</h1></div>
		</header>
		<article>
			
		</article>
	</body>
</html>