{% extends "base.html" %}

{% block title %}Главная{% endblock title %}

{% block nav_class_index %}active{% endblock %}

{% block content %}

    {% include "include/ooniversitydesc_include.html" %}

    <div class="container">
        <h2>Выбирай на каком курсе хочешь учиться</h2>
        <table class="table table-striped">
            <tr>
                <th>Курс</th>
                <th>Описание</th>
            </tr>
            {% for course in Courses %}
                <tr>
                    <td><a href="{% url 'courses:detail' course.id %}">{{ course.name|upper }}</a></td>
                    <td>{{ course.short_description|title }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}