{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Our contacts">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Student list</title>

    <!-- Bootstrap core CSS -->
     <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
	
	    
  </head>

  <body>


    <div class="blog-masthead">
      <div class="container">

        <nav class="blog-nav">
          <a href="{% url 'index' %}">Main</a>
          <a href="{% url 'contact' %}">Contacts</a>
          <a href="{% url 'student_list' %}">Students</a>
       </nav>
      </div>
    </div>


    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">Студенты курса PyBursa</h1>
		<p>Перечень студентов выпуск 2017</p>
	  </div>
			 <table class="table table-striped">
			 <thead>
				 <tr>
				 <th>No</th>
				 <th>Surname</th>
				 <th>Name</th>
				 <th>Address</th>
				 <th>Skype</th>
				 </tr>
			 </thead>
			 <tbody>
				 <tr>
					 <td><a href="{% url 'student_detail' %}">1</a></td>
					 
					 <td>Николайчук</td>
					 <td>Иван</td>
					 <td>Минск ул.Богдановича 135-12</td>
					 <td>Nivan</td>
				 </tr>
				 <tr>
					 <td>2</td>
					 <td>Иванова</td>
					 <td>Мария</td>
					 <td>Минск ул. Бурдейного 12-123</td>
					 <td>Mari</td>
				 </tr>
				 <tr>
					 <td>3</td>
					 <td>Петренко</td>
					 <td>Мария</td>
					 <td>Минск ул. Якубова 12-3</td>
					 <td>P.Mary</td>
				 </tr>
				 <tr>
					 <td>4</td>
					 <td>Леоненко</td>
					 <td>Александр</td>
					 <td>Минск ул. Тимирязева 3-45</td>
					 <td>Alex.P</td>
				 </tr>
				 <tr>
					 <td>5</td>
					 <td>Буянов</td>
					 <td>Алексей</td>
					 <td>Минск ул. Притыцкого 32-123</td>
					 <td>Buyan</td>
					 </tr>
				 <tr>
					 <td>6</td>
					 <td>Олежко</td>
					 <td>Михаил</td>
					 <td>Минск ул. Плотникова 4</td>
					 <td>Oleg-ko</td>
				 </tr>
				 <tr>
					 <td>7</td>
					 <td>Пащенко</td>
					 <td>Антон</td>
					 <td>Минск ул. бортникова 23-14</td>
					 <td>Pach-A</td>
				 </tr>
			 </tbody>
			 </table>      
	
	  <nav class="navbar navbar-default navbar-fixed-bottom">
		<footer>
			
	     <p>&copy; 2017 Company, Inc.</p>
	  
		</footer>
	  </nav>
      

    </div><!-- /.container -->

   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
  </body>
</html>
</html>