<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <title>Student details</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="index.html">Main</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="contact.html">Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="student_list.html">Students <span class="sr-only">(current)</span></a>
      </li>
    </ul>
   </div>
</nav>
<div class="container">
  <h1 ><font size=7>Mark Otto</font></h1>
<div class="out"><img id="im2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9jyBBqVE0kXYQ1doECCGyNNasLbGzU9Sx2vtgsWpsxWNtQWyS" HSPACE=30></div>
<div class="out1" ><a href="#" class="a_demo_one">Student about himself</a></div>
<div class="container"  margin-top=20px>

        
          <TABLE class="table"  BORDER="1"  >
            <col width="250" valign="top">
            
            <TR HEIGHT=30 bgcolor=grey >
              <TD ><b>Surname</b></TD>
              <TD ><b>Otto</b></TD>
              
            </TR>
              
            <TR >
              <TD >Name</TD>
              <TD>Mark</TD>
              
              
             </TR>
             <TR>
              <TD>Patronymic</TD>
              <TD>Nikolaiovich</TD>
             
              
             </TR>
             <TR>
              <TD>Rating</TD>
              <TD>1</TD>
              
              
             </TR>
             <TR>
              <TD>Average Grade</TD>
              <TD>99.7</TD>
             
              
             </TR>
             <TR>
              <TD>Package</TD>
              <TD>Premium</TD>
              
              
             </TR>
             <TR>
              <TD>Birth Date</TD>
              <TD>09/08/1980</TD>
             </TR> 
              
             <TR>
              <TD>Address</TD>
              <TD>Poland, Warshawa, Strong srt.</TD>
             </TR> 
              
             <TR>
              <TD>Post</TD>
              <TD>61079</TD>
             </TR>
              <TR>
              <TD>Skype</TD>
              <TD>marko</TD>
             </TR>
             
          </TABLE> 
         
        
      </div>
      <div  class="container" >
         <TABLE  class="table" BORDER="1" >
            <TR HEIGHT=30 bgcolor=grey >
              <TD align=center><b>Course</b></TD>
              <TD align=left><b>Week</b></TD>
              <TD align=left><b>ControlType</b></TD>
              <TD align=left><b>Grade</b></TD>
            </TR>
            <TR bgcolor=orange>
              <TD >PY101 Entering in Python</TD>
              <TD ROWSPAN="3">Week 1</TD>
               <TD>Tests
                   </TD>
               <TD >99%</TD>
             </TR>
             <TR><TD></TD><TD>Problem Task 1</TD><TD>100%</TD></TR>
             <TR><TD></TD><TD>Problem Task 2</TD><TD>100%</TD></TR>
             
             <TR>
              <TD></TD>
              <TD ROWSPAN="2">Week 2</TD>
              <TD>Tests
                   </TD>
               <TD >100%</TD>
              
             </TR>
             <TR><TD></TD><TD>Problem Task 1</TD><TD>100%</TD></TR>
             
             
          </TABLE> 
      </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.js"></script>
  </body>
</html>