<!doctype html>
<html lang="en">
  <head>
    <title>Ivanov Ivan</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <!-- My CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>

<body>
<header>
<nav class="navbar navbar-default menu">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">bursa</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="index.html">Main<span class="sr-only">(current)</span></a></li>
        <li><a href="contact.html">Contacts<span class="sr-only">(current)</span></a></li>
	<li class="active-link"><a href="student_list.html">Students<span class="sr-only">(current)</span></a></li>
      </ul>
    </div>

  </div><!-- /.container-fluid -->
</nav>
</header>   

<main>
	<div class="panel panel-default container">
		<!-- Default panel contents -->
		<div class="panel-body">
		  <p>Student's card</p>
		</div>

		<!-- Table -->
		<table class="table list card">
		  <tr><td>Surname</td><td>Ivanov</td></tr>
			<tr><td>Name</td><td>Ivan</td></tr>
			<tr><td>Patronymic</td><td>Ivanovich</td></tr>
			<tr><td>Birth Date</td><td>21/05/1977</td></tr>
			<tr><td>Rating</td><td>20</td></tr>
			<tr><td>Average Grade</td><td>99.9</td></tr>
			<tr><td>Address</td><td>Moscow</td></tr>
			<tr><td>E-mail</td><td>ivanoff@gmail.com</td></tr>
			<tr><td>Skype</td><td>ivanoff123</td></tr>
		</table>
	</div>

<div class="panel panel-default container">
		<!-- Default panel contents -->
		<div class="panel-body">
		  <p>Performance</p>
		</div>

		<!-- Table -->
		<table class="table perf">
		  <tr class="fr_blue"><td>Course</td><td>Week</td><td>Control Type</td><td>Grade</td></tr>
			<tr><td>PY101 Введение в Python</td><td>Week 1</td><td>Tests</td><td>99%</td></tr>
			<tr><td></td><td></td><td>Problem Task #1</td><td>100%</td></tr>
			<tr><td></td><td></td><td>Problem Task #2</td><td>100%</td></tr>
			<tr><td></td><td>Week2</td><td>Tests</td><td>100%</td></tr>
			<tr><td></td><td></td><td>Problem Task #1</td><td>100%</td></tr>
		</table>
	</div>
</main>

    <!-- Optional JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>
  </body>
</html>
