<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Student_List</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <style type="../static/css/style.css">
    </style>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
  </head>

  <body>

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li><a class="nav-link" href="index.html">Main</a></li>
      <li >
        <a class="nav-link" href="contacts.html">Contacts</a>
      </li >
      <li class="nav-item active"><a class="nav-link" href="student_list.html">Students</a></li>
     
    </ul>
    
  </div>
</nav>
<div class="container">

        
          <TABLE class="table" BORDER="1" WIDTH="60%">
            <TR HEIGHT=30 bgcolor=orangeRed >
              <TD align=center><b>No</b></TD>
              <TD align=center><b>Surname</b></TD>
              <TD align=center><b>Name</b></TD>
              <TD align=center><b>Adress</b></TD>
              <TD align=center><b>Skype</b></TD>
            </TR>
            <TR bgcolor=orange>
              <TD><a href="student_detail.html">1</a></TD>
              <TD>Kostrov</TD>
              <TD>Alexandr</TD>
              <TD>Mire str. 7/15</TD>
              <TD>alexandrkostrov1</TD>
              
             </TR>
             <TR bgcolor=orange>
              <TD>2</TD>
              <TD>Kostrova</TD>
              <TD>Alena</TD>
              <TD>Mire str. 7/15</TD>
              <TD>alenakostrova</TD>
              
             </TR>
             <TR bgcolor=orange>
              <TD>3</TD>
              <TD>Kostrov</TD>
              <TD>Vladik</TD>
              <TD>Mire str. 7/15</TD>
              <TD>vladikkostrov</TD>
              
             </TR>
             <TR bgcolor=orange>
              <TD>4</TD>
              <TD>Kostrov</TD>
              <TD>Maxim</TD>
              <TD>Mire str. 7/15</TD>
              <TD>maximkostrov</TD>
              
             </TR>
             <TR bgcolor=orange>
              <TD>5</TD>
              <TD>Kostrov</TD>
              <TD>Alexey</TD>
              <TD>Mire str. 7/15</TD>
              <TD>alexeykostrov</TD>
              
             </TR>
          </TABLE> 
         
        
      </div>
   <link href=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css " rel="stylesheet "/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js "></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../static/js/bootstrap.js "></script>
  

</body></html>
