<!DOCTYPE html>
<html>
<head>
	<title>Student</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">DjangoBursa</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="index.html">Main</a></li>
				<li><a href="contact.html">Contacts</a></li>
				<li><a href="student_list.html">Students</a></li>
			</ul>
		</div>
	</nav>
	<div class="row">
		<div class="col-lg-12">
			<div class="container">
				<div class="text">
					<h1>A AA</h1>
					<h2> Information</h2>
				</div>
				<table class="table">
					<tbody>
						<tr>
							<th>Surname</th>
							<td>Kent</td>
						</tr>
						<tr>
							<th>Name</th>
							<td>Klark</td>
						</tr>
						<tr>
							<th>Patronymic</th>
							<td>Brues</td>
						</tr>
						<tr>
							<th>Birth Date</th>
							<td>9-10-17</td>
						</tr>
						<tr>
							<th>Address</th>
							<td>Earth</td>
						</tr>
						<tr>
							<th>Skype</th>
							<td>SuperM</td>
						</tr>
						<tr>
							<th>E-mail</th>
							<td>save@gmail.com</td>
						</tr>
						<tr>
							<th>Phone</th>
							<td>333-33-33</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="container">
			<h1>Grades</h1>
			<table class="table details">
				<tbody>
					<tr>
						<th>Problem Task</th>
						<td>1</td>
					</tr>
					<tr>
						<th>Tests</th>
						<td>80%</td>

					</tr>
					<tr>
						<th>Average</th>
						<td>70%</td>
					</tr>
					<tr>
						<th>Grade</th>
						<td>75%</td>
					</tr>
					<tr>
						<th>Rating</th>
						<td>15</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</body>
</html>