<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>PyBursa Students List</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">Main Page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="contact.html">Contacts</a>
                <a class="nav-item nav-link" href="student_list.html">Students</a>
            </div>
        </div>
    </nav>

    <div>
        <h1>Студенты Курса PyBursa</h1>
        <p>Ниже представлен список студентов, выпуск - апрель 2015</p>
    </div>
    <div>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Skype</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><a href="student_detail.html">1</a></th>
                    <td>Persianova</td>
                    <td>Olena</td>
                    <td>Ukraine, Kharkiv, 36 Ivanova str, apt 3</td>
                    <td>olena.persianova</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Shulga</td>
                    <td>Marina</td>
                    <td>Ukraine, Kharkiv, 5 Ivanova str, apt 43</td>
                    <td>m.shulga</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Kozlovskyi</td>
                    <td>Bogdan</td>
                    <td>Ukraine, Kharkiv, 44 Ivanova str, apt 123</td>
                    <td>bohdan_kozlovskyi</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Zhuvanov</td>
                    <td>Yaroslav</td>
                    <td>Ukraine, Kharkiv, 1341 Ivanova str, apt 12412</td>
                    <td>y.zhuranov</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Simeyko</td>
                    <td>Ivan</td>
                    <td>@Ukraine, Kharkiv, 41 Ivanova str, apt 11</td>
                    <td>i.simeyko</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Kozlov</td>
                    <td>Pavel</td>
                    <td>@Ukraine, Kharkiv, 565 Ivanova str, apt 889</td>
                    <td>p.kozlov</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>