* {
	margin: 0;
	padding: 0;
	outline: none; 
}

@font-face {
	font-family: fontawesome;
	src: local(../fonts/fontawesome-webfont.ttf);
}

html {
	height: 100%;
}

body {
	padding-top: 120px;
	width: 100%;
	height: 100%;
	color: #333;
	background: #F6F6F6;
	font-size: 1em; 
	font-family: fontawesome;
	line-height: 135%;
}

.panel a, table a {
	color: #6DB854;
}

td.buttons {
	max-width: 147px;
}

nav {
	font-family: fontawesome;
	font-size: 1.5em; 
	font-weight: bold;
}

.card {
	margin-top: 20px !important;
	width: 500px !important;
}

.card td {
	width: 50px !important;
}

.main td{
	width: 40%;
}

.contact {
	width: 220px;
}

.contact tr td {
	vertical-align: top;
}

.thumbnail {
	margin-left: 50px;
	width: 250px;
	background-color: #dff0d8 !important;
	border: 1 !important;
}

.thumbnail img {
	margin-top: 15px;
	width: 50%;
}

.container-fluid {
	padding-left: 6% !important;
	padding-right: 6% !important;
	border: none;
}

.navbar-toggle {
	margin-top: 20px !important;
}

.navbar-brand {
	height: auto !important;
	margin-top: 3px;
}

.navbar-fixed-top {
	border: none !important;
}

ul {
	/*padding-right: 35px;*/
	height: 70px;
}

.nav a:hover {
	color: #dff0d8 !important;	
}

.nav a {
	padding-top: 25px !important;
	height: 70px;
}

li.active > a {
	background: #dff0d8 !important;
	color: #101010 !important;
}

li.active > a:hover {
	color: #101010 !important;
}

.table {
	margin-top: 50px;
}

.person {
	max-width: 100px;

}

hr {
	display: block;
	border: 0;
	height: 1px;
	border-top: 2px solid #ccc;
	padding: 0;
}

.right {
	float: right;
}

.left {
	float: left;
}

.clear {
	clear: both;
}

#wrapper {
	width: 100%;
	margin: auto;
}

a.student-btn {
	color: #fff;
}

.student-create {
	margin-top: 50px;
	max-width: 350px;
}

td.buttons {
	max-width: 200px; 
}

.student-create input[type=text], .student-create input[type=email],
.student-create select {
	float: right;
}

.student-create input[type=submit] {
	margin-top: 50px;
}

.student-create select {
	width: 218px;
}

.course-create {
	max-width: 400px;
}

.course-create input[type=text], .course-create input[type=number],
.course-create select {
	float: right;
}

.course-create textarea {
	max-width: 400px;
	max-height: 100px;
}

.course-edit {
	margin-left: 10px;
}

.course-h3 {
	margin-top: -5px;
}