{% extends 'base.html' %}

{% block title %}Добавление занятия{% endblock title %}

{% block content %}
      <div class="jumbotron">
        <div class="container">
           <h2> Создание нового занятия</h2>
              <div class="row col-md-12  custyle">
                  <form method="post">
                     {% csrf_token %}
                     {{ form.as_p }}
                     <input type="submit" class="btn btn-success" value="Создать">
                  </form>
              </div>
            </div>
      </div>

{% endblock content %}