{% extends "base.html" %}

{% block active_link_index %} active-link {% endblock %}

{% block list_students %}?course_id={{ course.id }}{% endblock %}

{% block content %}

{% if messages %}
  <div class="alert alert-success" role="alert">
    {% for message in messages %}
   {{ message }}
    {% endfor %}
  </div>
{% endif %}

          <div>
            <h3>{{ object.name }}</h3>
          </div>
          <div class="panel-body">
            {{ object.description|truncatechars:32 }}
          </div>
          <h4>Преподаватели</h4>
          <div class="panel-heading">
            <h3 class="panel-title">Учитель</h3>
          </div>
          <div class="panel-body">
            <a href="{% url 'coaches:detail' course.coach.id %}">{{ object.coach.user.first_name }} {{ object.coach.user.last_name }}</a><br><br>
            {{ object.coach.description }}
          </div>
          <div class="panel-heading">
            <h3 class="panel-title">Ассистент</h3>
          </div>
          <div class="panel-body">
            <a  href="{% url 'coaches:detail' course.assistant.id %}">{{ object.assistant.user.first_name }} {{ object.assistant.user.last_name }}</a><br><br>
            {{ object.assistant.description }}
          </div>          

          <p><a href="{% url 'courses:add-lesson' course.id %}">Добавить занятие</a></p>

          <div class="panel-heading">План курса</div>
          <!-- Table -->
            <table class="table">
              <tr class="first_row">
                <td> # </td>                
                <td> Тема </td>
                <td> Описание </td>
              </tr>              
              {% for lesson in lessons%}              
              <tr>
                <td> {{ lesson.order }} </td>                
                <td> {{ lesson.subject }} </td>
                <td> {{ lesson.description }} </td>
              </tr>
              {% endfor %}
            </table>
          </div>
{% endblock content %}
