{% extends 'base.html' %}


{% load staticfiles %}


{% block title %}ItBursa {{ course_inf.name }}{% endblock title %}

{% block nav_main_active %} active{% endblock nav_main_active %}


{% block content %}
    <div class="container">
        <div class="row">
        <div class="col-sm-12 blog-main">
			<h1>{{ course_inf.name }}</h1>
			<p class="page-main">{{ course_inf.description|truncatechars:32 }}</p>

{% include 'include/instructor_include.html' with block_title='Teacher' instructor=teacher %}

{% include 'include/instructor_include.html' with block_title='Assistant' instructor=assistant %}


			<h2>Course plan</h2>
            <table class="table table-hover">
			  <thead>
			    <tr>
                  <th>#</th>
				  <th>Тема</th>
				  <th>Описание</th>
				</tr>
              </thead>
              <tbody>
                {% for item in course_plan %}
                <tr>
                    <td>{{ item.order }}</td>
                    <td>{{ item.subject }}</td>
                    <td>{{ item.description }}</td>
                </tr>
                {% endfor %}
              </tbody>
			</table>
        </div><!-- /.page-main -->
{% include 'include/come_include.html' %}
        </div><!-- /.row -->

    </div><!-- /.container -->
{% endblock content %}