{% extends 'base.html' %}


{% load staticfiles %}


{% block title %}Pybursa: {{ course.name }}{% endblock title %}


{% block content %}  
</div>
 <div class="container">
    <div class="row">
        {% if messages %}
            <div>
              {% for message in messages %}
                {{ message }}
              {% endfor %}
        {% endif %}    
        <div class="col-sm-12 blog-main">
                        <h1>{{ course.name }}</h1>
                        <p class="page-main">{{ course.description|truncatechars:32 }}</p>
            <table class="table table-hover">
                          <thead>
                            <tr>
                  <th>Trainer</th>
                                </tr>
              </thead>
              <tbody>
                <tr>
                    <td><a href="{% url 'coaches:detail' course.coach.id %}">{{ course.coach.user.first_name }} {{ course.coach.user.last_name }}</a>
                  <p>{{ trainer.descr }}</p></td>
                </tr>
              </tbody>
                        </table>
            <table class="table table-hover">
                          <thead>
                            <tr>
                  <th>Assistant</th>
                                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="{% url 'coaches:detail' course.assistant.id %}">{{ course.assistant.user.first_name }} {{ course.assistant.user.last_name }}</a>
                  <p>{{ assistant.descr }}</p></td>
                </tr>
              </tbody>
                        </table>
      <div class="row">
        <div class="col-sm-12 blog-main">
      <h1>{{ course.name }}</h1>
      <p class="page-main">{{ course.description|truncatechars:32 }}</p>
      <h2>Course plan</h2>
            <table class="table table-hover">
        <thead>
          <tr>
                  <th>#</th>
          <th>Тема</th>
          <th>Описание</th>
        </tr>
              </thead>
              <tbody>
                {% for item in lessons %}
                <tr>
                    <td>{{ item.order }}</td>
                    <td>{{ item.subject }}</td>
                    <td>{{ item.description }}</td>
                </tr>
                {% endfor %}
              </tbody>
      </table>
        </div><!-- /.page-main -->
      </div><!-- /.row -->
    <a href="{% url 'courses:add-lesson' course.id %}">Добавить занятие</a>      
    </div><!-- /.container -->

{% include 'include/ome_include.html' %}


{% endblock content %}