{% extends "base.html" %}


{% block title %}Редактирование курса{% endblock title %}


{% block nav_class_index %} class="active"{% endblock %}


{% block content %}

<div class="container main_text">

  {% if messages %}
  <div class="alert alert-info">
    <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
  </div>
  {% endif %}


  <form method="post" >
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" />
  </form>

</div>

{% endblock content %}
