{% extends "base.html" %}


{% block title %}Добро пожаловать на ItBursa Django{% endblock title %}


{% block nav_class_index %}active{% endblock %}


{% block content %}
<div class="container main_text">

    <h1>PyBursa - мы лучшие!</h1>
    <p>Курс подразумевает, что студенты уже освоили базовый python.
    В рамках курса даются азы html/css, достаточные для формирования html страниц браузеру, но не достаточные для профессиональной верстки.
    Глубина освоения django будет достаточной для самостоятельного написания web-проектов, которые содержат редактируемые страницы, структуру
    специфических данных, отображение их на фронтенде и создание-редактирование этих данных. Все разделы django будут освещены.</p>
    <div class="media">
        <div class="media-left">
          <a href="https://dou.ua/users/dixon-che/">
            <img class="media-object" src="https://s.dou.ua/img/avatars/100x100_8318.png" alt="Алексей Радченко">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Инструктор курса</h4>
          Алексей Радченко
        </div>
    </div>

    <div class="program">
      <h2>Список курсов</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Курс</th>
            <th>Описание</th>
          </tr>
        </thead>
        <tbody>
          {% for course in courses_list %}
          <tr>
            <td><a href="{% url 'courses:detail' course.id %}">{{ course.name|upper }}</a></td>
            <td>{{ course.short_description|title }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

</div>
{% endblock content %}
