{% extends 'base.html' %}


{% load staticfiles %}


{% block title %}Remove Course{% endblock title %}

{% block nav_main_active %} active{% endblock nav_main_active %}

{% block content %}
    <div class="container">
      <div class="row">
<p>Course {{ remove_course.name }} will be deleted.</p>
		  <form method="post">
                  {% csrf_token %}

              <input class="btn btn-danger" type="Submit" value="Remove">
              </form>


      </div><!-- /.row -->
    </div><!-- /.container -->
{% endblock content %}