{% extends 'base.html' %}
{% load static %}


{% block title %}{{ coach_curr.user.first_name }} {{ coach_curr.user.last_name }}{% endblock %}


{% block nav_baractive_index %}active{% endblock %}


{% block content %}
    <div class="starter-template">
        <h1 class="bold reddish"><b>{{ coach_curr.user.first_name }} {{ coach_curr.user.last_name }}</b></h1>
        <p>Coaches card</p>
        <div class="container">
            <div class="row">
                <div class="col border">Дата рождения</div>
                <div class="col border"> {{ coach_curr.date_of_birth|date:'d F, Y' }}</div>
            </div>
            <div class="row">
                <div class="col border">Адрес</div>
                <div class="col border">{{ coach_curr.address }}</div>
            </div>
            <div class="row">
                <div class="col border">Почта</div>
                <div class="col border">{{ coach_curr.user.email }}</div>
            </div>
            <div class="row">
                <div class="col border">Логин Skype</div>
                <div class="col border">{{ coach_curr.skype }}</div>
            </div>
            <div class="row">
                <div class="col border">Телефон</div>
                <div class="col border">{{ coach_curr.phone }}</div>
            </div>
            <div class="row">
                <div class="col border">Курсы учитель</div>
                <div class="col border">
                    {% if coach_curr.coach_courses.all %}
                        {% for i in coach_curr.coach_courses.all %}
                            <div class="border">
                                <a href="{% url 'courses:detail' i.id %}">{{ i.name }}<br /></a>
                                <a href="{% url 'students:list_view' %}?course_id={{ i.id }}">Студенты курса<br /></a>
                            </div>
                        {% endfor %}
                    {% else %}
                        Нет курсов <br />
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col border">Курсы ассистент</div>
                <div class="col border">
                    {% if coach_curr.assistant_courses.all %}
                        {% for i in coach_curr.assistant_courses.all %}
                            <div class="border">
                                <a href="{% url 'courses:detail' i.id %}">{{ i.name }}<br /></a>
                                <a href="{% url 'students:list_view' %}?course_id={{ i.id }}">Студенты курса<br /></a>
                            </div>
                        {% endfor %}
                    {% else %}
                        Нет курсов <br />
                    {% endif %}            
                </div>
            </div>
        </div>
    </div>
{% endblock %}
